<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sample Post</title>

    <!-- Bootstrap Core CSS -->
    <link href="__ROOT__/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="__ROOT__/static/css/clean-blog.css" rel="stylesheet">

    <link href='__ROOT__/static/css/show.css' rel='stylesheet' type='text/css'>
    <!-- Custom Fonts -->
    <link href="__ROOT__/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='__ROOT__/static/css/font.css' rel='stylesheet' type='text/css'>
    <link href='__ROOT__/static/css/open-font.css' rel='stylesheet' type='text/css'>
    <style>
        #content {
            font-family: 'Microsoft YaHei';
            letter-spacing: 1px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{:U('Index/index')}">Skiwer</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{:U('Index/index')}">Home</a>
                    </li>
                    <li>
                        <a href="{:U('About/index')}">About</a>
                    </li>
                    <if condition="$isadmin eq true">
                        <li>
                            <a href="{:U('Post/index')}">Post</a>
                        </li>
                    </if>
                    <empty name="nickname">
                        <li>
                            <a href="{:U('Index/login')}">Login</a>
                        </li>
                        <else />
                        <li>
                            <a href="{:U('Index/logout')}">Logout</a>
                        </li>
                    </empty>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('__ROOT__/static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{$detail["title"]}</h1>
                        <h2 class="subheading">{$detail["outline"]}</h2>
                        <span class="meta">Posted by <a href="#">Skiwer</a> on {$detail["date"]}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1 id="title">{$detail["title"]}</h1>
                    <div class="info">
                        <span class="date">{$detail["date"]}</span>
                        <span class="tag">分类：{$detail["tag"]}</span>
                        <span class="like">阅读(<span class="view-number">{$detail["view_number"]}</span>)</span>
                        <span class="like">赞({$detail["like_number"]})</span>
                        <span class="comment">评论(<span class="comment-number">{$detail["comment_number"]}</span>)</span>
                    </div>
                    <div id="content">{$detail["content"]}</div>
                </div>
            </div>
        </div>
    </article>


    <article>
        <div class="container">
            <div class="row" id="com">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1 id="Ctitle">评论<span id="Cnumber">{$detail["comment_number"]}</span></h1>
                    <hr>
                    <div class="box">
                        <div class="head">
                            <empty name="nickname">
                                <img src="__ROOT__/static/img/dabai.jpg" alt="figure" />
                                <else />
                                <img src="{$figure}" alt="figure" />
                            </empty>
                        </div>
                        <div class="cmt">
                            <textarea onfocus="javascript:checkLog()" id="main-comment" placeholder="你的评论可以一针见血" name="comment" class="comment" cols="100%" rows="3" tabindex="1"></textarea>
                            <div class="sbm" id="main-submit">
                                <button type="button" onclick="mainCommentSubmit()" class="btn btn-default btn-xs submit">提交评论</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" id="postComments">
                    <volist name="comments" id="value" key="key">
                        <div class="commentList">
                            <div class="cmt-main">
                                <span class="seq">{:count($comments)-$key+1}楼</span>
                                <div class="head">
                                    <img src="{$value['figure_url']}" alt="figure" />
                                </div>
                                <div class="cmt-content">{$value["comment"]}</div>
                                <div class="cmt-meta">
                                    <span class="main-user">{$value["u_nickname"]}</span>
                                    <span class="main-date">{$value["date"]}</span>
                                    <span class="main-post-cmt" id="main-{$value['id']}" onclick="javascript:showMainFrame(this)">回复</span>
                                </div>

                            </div>
                            <notempty name="value['subComments']">
                                <div class="cmt-children">
                                    <volist name="value['subComments']" id="v" key="k">
                                        <div class="cmt-child">
                                            <hr>
                                            <div class="child-head">
                                                <img src="{$v['figure_from']}" alt="figure" />
                                            </div>
                                            <div class="child-content">{$v["comment"]}</div>
                                            <div class="child-meta">
                                                <span class="answerby">{$v["u_nickname_from"]}</span>
                                                <span>回复</span>
                                                <span class="answerto">{$v["u_nickname_to"]}</span>
                                                <span class="child-date">{$v["date"]}</span>
                                                <if condition="$v['is_from_main'] eq 1">
                                                    <span class="child-post-cmt" id="frommain-{$v['id']}" onclick="javascript:showSubFrame(this)">回复</span>
                                                    <else />
                                                    <span class="child-post-cmt" id="fromsub-{$v['id']}" onclick="javascript:showSubFrame(this)">回复</span>
                                                </if>

                                            </div>

                                        </div>
                                    </volist>
                                </div>
                            </notempty>
                            <hr>
                        </div>
                    </volist>





                </div>
            </div>
        </div>
    </article>


    <div class="rollbar" style="display: block;">
        <ul>
            <li>
                <a href="#com">
                    <i class="fa fa-comments"></i>
                </a>
                <h6>去评论<i></i></h6>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-angle-up"></i>
                </a>
                <h6>去顶部<i></i></h6>
            </li>
        </ul>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">

                        <li>
                            <a href="https://github.com/skiwer" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; skiwer.me</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="__ROOT__/static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__ROOT__/static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var root = "__ROOT__";
        var logurl = "{:U('Index/hasloged')}";
        var loginurl = "{:U('Index/login')}";
        var mainUrl = "{:U('ShowArticle/maincomment')}";
        var subUrl = "{:U('ShowArticle/subcomment')}";
        var articleId = "{$detail['id']}";
        var viewurl = "{:U('ShowArticle/addpageview')}";
    </script>
    <script src="__ROOT__/static/js/show.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="__ROOT__/static/js/jqBootstrapValidation.js"></script>
    <script src="__ROOT__/static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="__ROOT__/static/js/clean-blog.min.js"></script>

</body>

</html>