a {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0) !important;
}

.container p,
.container li {
    font-family: 'Microsoft YaHei';
    letter-spacing: 1px;
}

footer {
    background: #23282D;
}

footer p {
    color: rgba(255, 255, 255, .5);
}