a {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0) !important;
    text-decoration: none !important;
}

.page-heading h1 img {
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0) !important;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

@media screen and (min-width: 760px) {
    .page-heading h1 img:hover {
        transform: rotate(360deg) scale(1.2, 1.2);
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-size: 25px !important;
    }
    h2 {
        font-size: 22px !important;
    }
    p {
        font-size: 18px !important;
    }
    .page-heading .subheading {
        font-size: 20px !important;
    }
}

.container p,
.container li {
    font-family: 'Microsoft YaHei';
    letter-spacing: 1px;
}

#about-info {
    margin-bottom: 30px;
}

footer {
    background: #23282D;
}

footer p {
    color: rgba(255, 255, 255, .5);
}